<form class="form" name="loginForm" novalidate ng-submit="login()">

  <div class="form-group"
    ng-class="
      {
        'has-error' : loginForm.email.$invalid && loginForm.email.$dirty,
        'has-success' : loginForm.email.$valid && loginForm.email.$dirty
      }
    "
  >
    <label for="userEmail" class="control-label">Email</label>
    <input id="userEmail" type="email" name="email" class="form-control" ng-model="user.email" required/>
    <p class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$dirty && loginForm.submitted">
      Please enter a valid email address in the format of me@example.com
    </p>
  </div>

  <div class="form-group"
    ng-class="
      {
        'has-error' : loginForm.password.$invalid && loginForm.password.$dirty,
        'has-success' : loginForm.password.$valid && loginForm.password.$dirty
      }
    "
  >
    <label for="userPassword" class="control-label">Password</label>
    <input id="userPassword" type="password" name="password" class="form-control" ng-model="user.password" required />
    <p class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
      Password is required
    </p>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Log In</button>
  </div>

</form>