<div class="header" ng-controller="NavigationCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{active:isActive('/')}"><a ng-href="#/main">Home</a></li>
    <li ng-class="{active:isActive('/edges')}"><a ng-href="#/edges">Edges</a></li>

    <!-- TODO Toggle between logout/login depending on whether user is logged in -->
    <li ng-class="{active:isActive('/login')}"><a ng-href="#/login">Login</a></li>
    <li><a ng-href="#/logout">Logout</a></li>
  </ul>
  <h3 class="text-muted">Savage Worlds Database</h3>
</div>